* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    color: #181913;
    background: #fffff7;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    max-width: 774px;
    margin: auto;
}

header {
    padding: 0;
    text-align: center;
    margin-bottom: 21px;
}

h1 {
    font-size: 70px;
    line-height: 84px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 28px;
}

h2 {
    font-size: 25px;
    text-transform: lowercase;
    font-weight: bold;
    margin: 14px 0;
}

span {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #424434;
}

a {
    color: #424434;
    text-decoration: none;
    border-bottom: 1px solid;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

li {
    margin: 0 0 0 28px;
    list-style: disc;
}

section {
    height: 100%;
    width: 80%;
    padding: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    border-top: 5px solid #424434;
}

.heading-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 14px;
}

.links-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.link {
    font-size: 14px;;
    display: inline-block;
    text-transform: uppercase;
    border-top: 1px solid;
    border-bottom: none;
    font-weight: bold;
}

.link-disabled {
    color: #ccc;
}

.thumbnail-link {
    border: none;
}

.thumbnail {
    grid-area: 1 / 1 / 1 / 1;
    height: 100%;
    width: auto;
}

.issues-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.issue {
    background: #222;
    border: none;
    display: grid;
    height: 196px;
    overflow: hidden;
    width: 122.5px;
}

.issue-title {
    align-items: center;
    background: rgba(255, 255, 247, .75);
    color: #181913;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
    grid-area: 1 / 1 / 1 / 1;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    opacity: 0;
    padding: 10;
    transition: opacity .25s ease-in-out;
    width: 122.5px;
}

.issue:focus .issue-title,
.issue:hover .issue-title {
    opacity: 1;
    transition: opacity .25s ease-in-out;
}

footer {
    text-transform: uppercase;
    color: #424434;
    padding: 1rem;
    margin: 3rem 0 0 0;
    width: 100%;
    text-align: center;
    font-size: .65rem;
}

footer a {
    color: #424434;
}

@media screen and (max-width: 600px) {
    section {
        width: 90%;
    }
}
